*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --lightGrey: #fcfcfc;
  --pink: #b52b65;
  --darkPurple: #4f3961;
  --darkGrey: #585858;
  --darkerGrey: #6d6d6d;
  --yellow: #ffe75e;
  --white: #fff;
  --familyRoboto: "Roboto", sans-serif;
  --familyRobotoSlab: "Roboto Slab", sans-serif;
  --bold: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

h1,h2,h3,h4,h5{
  font-size:30px;
  text-transform: bold;
  font-weight: 600;
  font-family: 'Barlow Condensed', sans-serif;
  margin:0; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&display=swap');
p{
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.1rem;
  text-transform:none ;
  margin-top: 0;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mukta+Malar:wght@200&display=swap');
body {
  margin: 0;
  line-height: 1.6;
  width: 100%;
  font-family: 'Mukta Malar', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;

}

/* Header */
.header {
  padding: 2rem 4.5rem;
  /* box-shadow:0 .5rem 1rem rgba(0,0,0,.1); */
  background-color: rgb(255, 255, 255);
  /* background-color: var(--lightGrey); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
position: static;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav-toggle {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  color: #000;
  background-color: transparent;
}

.hamburger {
  top: 10px;
  left: 0;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  border-radius: 3px;
  background-color: #000;
}

.hamburger::before {
  top: -10px;
  left: 0;
}

.hamburger::after {
  left: 0;
  bottom: -12px;
}

[aria-expanded="true"] .hamburger,
[aria-expanded="true"] .hamburger::before,
[aria-expanded="true"] .hamburger::after {
  transition: all 0.3s ease-in-out;
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
  transform: rotate(0deg) scale(0.2);
}

[aria-expanded="false"] .hamburger::before {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(-45deg);
}

[aria-expanded="true"] .hamburger::after {
  transform: rotate(90deg) translateX(-12px);
}

[aria-expanded="false"] .hamburger,
[aria-expanded="false"] .hamburger::before,
[aria-expanded="false"] .hamburger::after {
  transition: all 0.3s ease-in-out;
}

.nav {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: -80px;
  left: -1rem;
  width: 50vw;
  height: 420px;
  transition: all 0.3s ease-in-out;
  transition-property: opacity, visibility, transform, background-color,
    box-shadow;
  background-color: #000;
  transform: translateX(-200%);
}

.logo {
  height: 50px;
  margin-left: 5px;
  z-index: 2;
}

.nav-list {
  color: #000;
  margin-top: 150px;
}

.nav.is-open {
  top: -80px;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  /* background-color: #f4eeff; */
  background-color: rgb(255, 255, 255);
}

.nav.is-open .nav-link {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1.0rem;
color: #000;
  font-size: 1.1rem;
  margin-left: 10px;
}
.nav-link .tems:hover {
 color:#00598B ;
}

.nav-link-cta{
  color: #fff;
  text-align: center;
  border-radius: 7px;
  background-color: #00598B;
  cursor: pointer;
}
.nav-link-cta:hover{
  color: #fff;
}


@media(min-width: 1100px) {
  .nav-toggle {
    display: none;
    pointer-events: none;
  }
  .nav-list {
    
    margin-top: 0;
    display: flex;
  }

  .nav {
    width: auto;
    height: auto;
    position: static;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    background-color: initial;
  }

}


/* svg-intro */
.svg-intro{
  width: 80%;
  margin: 0 auto
}
.svg-intro img{
  width: 100%;
}

/* basic-intro */
.basic-intro{
  margin-top: 20px;
  margin-bottom: 40px;
}
.sub-intro{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.sub-intro img{
  height: 30vw;
}
.sub-text{
  width:50%;
}
.btn-intro {
  background-color: #00598B;
  color: #fff;
  width: 12vw;
  height: 3vw;
  border-radius: 8px;
  border: none
}
.btn-intro:hover {
  background-color: #15283c;
}
.btn-intro a{
  color: #fff;

}




@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
  /* Intro */
.intro {
   align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2.7em;
 padding-left: 5px;
}

.intro__title {
  margin: 0;
  line-height: 1.1;
  color: #000;
  /* color: var(--darkPurple); */
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.intro__subtitle {
  color: #000;
}

.intro__illustration {
  height: 30vw;
  padding-top: 2rem;
padding-bottom: 2em;
}
.intro-info{
  padding-top: 2rem;
  margin-left: 20px;
  width: 50%;
}
.sub-info{
  margin-left: 30px;
  text-align: start;
 
}

@media (min-width: 32em) {
  .intro {
    padding: 10px;
    display: block;
  }
  .intro-contents{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }



  .intro .button {
    margin-top: 5px;
    grid-area: button;
    justify-self: center;
    align-self: center;
  }

}

@media (min-width: 60em) {
  .intro {
    margin: 0 auto;
    width: 85%;
  }

  .intro__title {
    margin: 0;
  }
  .intro-contents{
    margin-bottom: 90px;
  }

}




/* Grow */
.grow {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2.7em;
 padding-left: 5px;
}

.area{
  height: 30vw;
  padding-top: 2rem;
padding-bottom: 2em;
 
}
.grow-info{
  margin-left: 20px;
  padding-top: 2rem;
  width: 50%;
}
.sub-grow{
 margin-left: 120px;
}
.sub-grow1{
  text-align: start;
 margin-left: 20px;
}



@media (min-width: 32em) {
  .grow {
    padding: 10px;
    display: block;
  }
.grow-info{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
 
}

@media (min-width: 60em) {
  .grow {
    margin: 0 auto;
    width: 85%;
  }

}









/* Feedback */
.get-feedback {
 padding: 20px;
display: block;
text-align: center;

}


.pay {
  height: 30vw;
  padding-top: 2rem;
padding-bottom: 2em;
  
}
.feedback-info{
  padding-top: 2rem;
  width: 50%;
}
.sub-feed{
  margin-left: 20px;
  margin-right: 120px;
}
.sub-feedback{
  margin-left: 30px;
  text-align: start;
 
}
@media (min-width: 32em) {
  .feedback-info {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }

  .get-feedback__title {
    text-align: end;
    grid-area: title;
    margin-bottom: 0;
  }

  .get-feedback img {
    grid-area: img;
  }

}

@media (min-width: 60em) {
  .get-feedback {
   
    margin: 0 auto;
    width: 85%;
  }

}

.more-info{
  margin-left: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 30px;
}


/* contact */
.contact{
  padding-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.container_item{
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container_item .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_item.content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #00598B;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
  border: none;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #00598B;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #15283c;
  
}

@media (max-width: 950px) {
  .container_item{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container_item .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container_item{
    margin: 40px 0;
    height: 100%;
  }
  .container_item .content{
    flex-direction: column-reverse;
  }
 .container_item .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container_itemr .content .left-side::before{
   display: none;
  

 }
 .container_item .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}


/* foot-info */
.foot-info{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-top:30px ;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}  
.foot-div{
  width: 50%;
}


/* Footer */
.footer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media{
  display: flex;
  margin-bottom: 50px;
}
.media-icon{
  margin: 10px;
  padding: 5px 9px;
  border-radius: 100%;
  background-color: #00598B;
}
.media-icon a{
  color: #fff;
}
.copyright {
  flex-basis: 100%;
  text-align: center;
  color: var(--darkerGrey);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@media(max-width: 1300px) {

  .intro-contents {
    width: 100%;
    display: block;
  }

  .intro-info {
    display: flex;
    width: 100%;
  }

  .feedback-info {
    width: 100%;
    display: block;
  }

  .sub-feed {
    width: 100%;
    display: flex;
  }
  .grow-info {
    display: block;
    width: 100%;
  }
  .sub-grow {
    margin: 0;
    width: 100%;
    display: flex;
  }
}

@media(max-width: 1100px) {
  .header {
    padding: 2rem ;
  }
  .nav-list {
      width: 100%;
  }
  .nav.is-open .nav-link {
      margin-top: 1.3rem;
      margin-left: 3rem;
      font-size: 22px;
  }
  .nav.is-open {
    background-color: rgba(10, 10, 10, 0.87);
    height: 420px;
    width: 80%;
  }
  .nav-link-cta {
    text-align: start;
    background-color: #00598B
  }

  .nav-link {
    color: #fff;
  }

}



@media(max-width: 750px) {
  p{
    font-size: 1.4rem;
  }
  .btn-intro {
    width: 15vw;
    height: 6vw;
  }
  .sub-intro {
    display: block;
  }
  .sub-text {
    width: 100%;
  }
  .sub-intro img {
    height: 55vw;
  }
  .intro__illustration {
    height: 55vw;
  }
  .pay {
    height: 55vw;
  }
  .area {
    height: 55vw;
  }
  .intro {
    padding: 30px 40px 40px 35px;
  }

  .get-feedback {
    padding: 30px 40px 40px 35px;
  }

  .grow {
    padding: 30px 40px 40px 35px;
  }
  .more-info {
    width: 80%;
  }


  .intro-info {
    display: block;
  }
  .sub-feed {
    display: block;
  }
  .sub-grow {
    display: block;
  }
  .nav {
    width: 68vw;
  }
  .nav.is-open .nav-link {
    margin-top: 1rem;
    font-size: 20px;
  }

}

@media(max-width: 500px) {
  p{
    text-align: center;
  }
  h1,h2,h3,h4,h5{
    text-align: center;
  }
  .svg-intro{
    margin-top: 5%;
  }
  .basic-intro {
    margin-top: 0px;
  }
  .intro-topic{
    padding: 15px;
  }
  .feedback-topic{
    padding: 15px;
  }
  .grow-topic{
    padding: 15px;
  }
  .header {
    padding:20px 10px 10px;
  }
  .logo {
    height: 30px;
  }
  .svg-intro {
    width: 100%;
  }
  .sub-intro {
    width: 90%;
  }
  .sub-intro img {
    height: 80vw;
  }
  .btn-intro {
    width: 30vw;
    height: 10vw;
  }
  p{
    font-size: 18px;
  } 
  .foot-info {
    display: block;
  }
  .foot-div {
    width: 100%;
  }
  .sub-info {
    padding: 15px;
    margin-left:0px;
    margin-bottom: 0px;
}
.intro__illustration {
  height: 80vw;
}
.intro {
  padding: 0px;
}
.intro-info {
  margin-left: 0px;
}

.sub-feed {
  margin-left: 0px;
}
.sub-feed {
  margin-left: 0px;
}
.pay {
  height: 80vw;
}
.area {
  height: 80vw;
}
.sub-feedback {
  padding: 15px;
  margin-left:0px;
  margin-bottom: 0px;
}

.grow-info {
  margin-left: 0px;
}
.sub-grow1 {
   padding: 15px;
  margin-left:0px;
  margin-bottom: 0px;
}

.get-feedback {
  padding: 0px ;
}

.grow {
  padding: 0px ;
}
.more-info {
  width: 90%;
}
.nav.is-open .nav-link {
  margin-left: 2rem;
  font-size: 4.5vw;
}

}

@media(max-width: 400px){
  .nav.is-open .nav-link {
    margin-top: 1px;
  }
}

@media(max-width: 300px){

  .foot-info img{
    height: 280px;
  }
}